.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .clients__list {
    display: flex;
  }
  
  .clients__item {
    width: 170px;
    height: 92px;

    &:not(:last-child) {
        margin-right: 30px;
      }
  }
  
  .clients__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $iconFill;
    border-radius: 4px;
    transition: border 250ms $transition;

    &:hover,
    &:focus {
    border: 1px solid $accentColor;
  }
  }
  
   .clients__icon {
    fill: $iconFill;
    transition: fill 250ms $transition;

    .clients__link:hover &,
    .clients__link:focus & {
    fill: $accentColor;
  }
  }
  
  
  