.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .portfolio-filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-filters-item:not(:last-child) {
    margin-right: 8px;
  }
  
  .portfolio-filters-btn {
    cursor: pointer;
    font-family: $mainFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color 250ms $transition,
    box-shadow 250ms $transition;

    &:hover,
    &:focus {
    background-color: $accentColor3;
    color: $accentColor3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  }
  
  .portfolio-project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  
  .portfolio-project-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
  
  .portfolio-project-card {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  
  .portfolio-project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
  }
  
  .portfolio-project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $accentColor2;
  }

  .portfolio-project-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms $transition;

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }
  
  .portfolio-project-img-container {
    position: relative;
    max-width: 370px;
    max-height: 294px;
    overflow: hidden;
  }
  
  .portfolio-project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition: transform 250ms $transition, opacity 250ms $transition;

    .portfolio-project-link:hover & {
        opacity: 1;
        transform: translate(0, 0);
      }
  }
  
  .portfolio-project-overlay-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: $accentColor3;
  }
  