    $accentColor: #2196f3;
    $accentTextColor: #212121;
    $accentColor2: #757575;
    $accentColor3: #ffffff;
    $iconFill: #afb1b8;
    $mainFont: 'Roboto', sans-serif;
    $secondaryFont: 'Raleway', sans-serif;
    $accentBgColor: #2f303a;
    $transition: cubic-bezier(0.4, 0, 0.2, 1);
  
  